# Experiment - Snowfall

In [74]:
import os

In [75]:
path = os.getcwd()

In [76]:
os.supports_fd

{<function posix.chdir(path)>,
 <function posix.chmod(path, mode, *, dir_fd=None, follow_symlinks=True)>,
 <function posix.chown(path, uid, gid, *, dir_fd=None, follow_symlinks=True)>,
 <function posix.execve(path, argv, env)>,
 <function posix.listdir(path=None)>,
 <function posix.pathconf(path, name)>,
 <function posix.stat(path, *, dir_fd=None, follow_symlinks=True)>,
 <function posix.statvfs(path)>,
 <function posix.truncate(path, length)>,
 <function posix.utime(path, times=None, *, ns=None, dir_fd=None, follow_symlinks=True)>}

In [80]:
import pandas as pd

In [81]:
file_path = path +'/'+"snowfall.csv"

In [98]:
file_path

'/home/dsxuser/work/snowfall.csv'

In [105]:
# The code was removed by Watson Studio for sharing.

,rank,location,snowfall,state,city,lat,long,elevation
0,1,VALDEZ,316.8,AK,Valdez,61.129940,-146.349364,6.8
1,2,MT. WASHINGTON,260.0,NH,Mt. Washington,44.270460,-71.303531,1913.4
2,3,BLUE CANYON,240.3,CA,Blue Canyon,39.257275,-120.710825,1405.3
3,4,YAKUTAT,190.3,AK,Yakutat,59.572734,-139.578312,26.0
4,5,MARQUETTE,149.1,MI,Marquette,46.543491,-87.396433,NaN

In [111]:
df.info

<bound method DataFrame.info of      rank          location  snowfall state              city        lat  \
0       1            VALDEZ     316.8    AK            Valdez  61.129940
1       2    MT. WASHINGTON     260.0    NH    Mt. Washington  44.270460
2       3       BLUE CANYON     240.3    CA       Blue Canyon  39.257275
3       4           YAKUTAT     190.3    AK           Yakutat  59.572734
4       5         MARQUETTE     149.1    MI         Marquette  46.543491
5       6          SYRACUSE     119.3    NY          Syracuse  43.048122
6       7  SAULT STE. MARIE     116.7    MI  Sault Ste. Marie  46.490586
7       8         TALKEETNA     115.4    AK         Talkeetna  62.323831
8       9           CARIBOU     112.2    ME           Caribou  46.860557
9      10      MOUNT SHASTA     104.9    CA      Mount Shasta  41.409320
10     11            LANDER     101.1    WY            Lander  42.833075
11     12         FLAGSTAFF     100.9    AZ         Flagstaff  35.199458
12     13            JUNEAU      99.0    AK            Juneau  58.301950
13     14     SEXTON SUMMIT      97.8    OR     Sexton Summit        NaN
14     15          MUSKEGON      96.3    MI          Muskegon  43.234181
15     16         ROCHESTER      94.3    NY         Rochester  43.157285
16     17           BUFFALO      94.2    NY           Buffalo  42.886717
17     18           MCGRATH      93.5    AK           Mcgrath  62.956389
18     19              ERIE      92.6    PA             Erie.  42.129066
19     20           BETTLES      85.8    AK           Bettles  66.918889
20     21        BINGHAMTON      85.2    NY        Binghamton  42.096968
21     22            ALPENA      84.4    MI            Alpena  45.061679
22     23            DULUTH      81.5    MN            Duluth  46.772932
23     24        BURLINGTON      80.9    VT        Burlington  44.472399
24     25            KODIAK      80.3    AK            Kodiak  57.790000
25     26            ELKINS      77.1    WV            Elkins  38.925927
26     27            CASPER      76.6    WY            Casper  42.866632
27     28      GRAND RAPIDS      75.0    MI      Grand Rapids  42.963241
28     29     HOUGHTON LAKE      74.6    MI     Houghton Lake  44.314739
29     30         ANCHORAGE      72.8    AK         Anchorage  61.216313
..    ...               ...       ...   ...               ...        ...
218   219            TUCSON       1.2    AZ            Tucson  32.221892
219   220           AUGUSTA       1.2    GA           Augusta  33.470971
220   221          MERIDIAN       1.2    MS          Meridian  32.364310
221   222           JACKSON       1.0    MS           Jackson  32.410438
222   223            AUSTIN       1.0    TX            Austin  30.271129
223   224             MACON       0.9    GA             Macon  32.840695
224   225           DEL RIO       0.9    TX           Del Rio  29.362730
225   226     CHARLESTON AP       0.8    SC     Charleston Ap        NaN
226   227       SAN ANTONIO       0.7    TX       San Antonio  29.398600
227   228          COLUMBUS       0.5    GA          Columbus  32.460976
228   229            MOBILE       0.4    AL            Mobile  30.694357
229   230        MONTGOMERY       0.4    AL        Montgomery  32.366966
230   231          SAVANNAH       0.4    GA          Savannah  32.083541
231   232           HOUSTON       0.4    TX           Houston  29.758938
232   233      LAKE CHARLES       0.3    LA      Lake Charles  30.226595
233   234       PORT ARTHUR       0.3    TX       Port Arthur  29.898826
234   235            EUREKA       0.2    CA            Eureka  40.802071
235   236         PENSACOLA       0.2    FL         Pensacola  30.421309
236   237       BATON ROUGE       0.2    LA       Baton Rouge  30.450746
237   238       NEW ORLEANS       0.2    LA       New Orleans  29.949932
238   239         GALVESTON       0.2    TX         Galveston  29.299328
239   240            FRESNO       0.1    CA            Fresno  36.729529
240   241          VICTORIA       0.1    TX          Victoria  28.805267
241   242     SANTA BARBARA       0.0    CA     Santa Barbara  34.422132
242   243        FORT MYERS       0.0    FL        Fort Myers  26.640628
243   244          KEY WEST       0.0    FL          Key West  24.562557
244   245              HILO       0.0    HI              Hilo  19.707243
245   246          HONOLULU       0.0    HI          Honolulu  21.325079
246   247           KAHULUI       0.0    HI           Kahului  20.889410
247   248             LIHUE       0.0    HI             Lihue  21.981111

           long  elevation
0   -146.349364        6.8
1    -71.303531     1913.4
2   -120.710825     1405.3
3   -139.578312       26.0
4    -87.396433        NaN
5    -76.147424        NaN
6    -84.359269        NaN
7   -150.108882      106.2
8    -68.011968      136.0
9   -122.195009        NaN
10  -108.730702        NaN
11  -111.651426        NaN
12  -134.419734       10.4
13          NaN       10.4
14   -86.248392      187.2
15   -77.615214      152.0
16   -78.878392      183.4
17  -155.595833      101.0
18   -80.085242      198.7
19  -151.516111      191.7
20   -75.914341      257.8
21   -83.432753      179.5
22   -92.125122      283.9
23   -73.211494       52.2
24  -152.407222       14.1
25   -79.846655      587.1
26  -106.313081     1555.8
27   -85.667864      193.8
28   -84.764750      348.1
29  -149.894852       29.4
..          ...        ...
218 -110.926235      759.4
219  -81.974843       45.5
220  -88.703656      104.5
221  -90.162065      100.9
222  -97.743700      162.6
223  -83.632402      113.3
224 -100.896761      294.7
225         NaN      294.7
226  -98.389169      201.2
227  -84.987709       73.1
228  -88.043054        2.6
229  -86.300648       73.0
230  -81.099834        5.5
231  -95.367697       14.7
232  -93.217376        4.4
233  -93.928781       -0.1
234 -124.163673       14.6
235  -87.216915       16.8
236  -91.154551       14.3
237  -90.070116        1.7
238  -94.794588        2.6
239 -119.708861       95.4
240  -97.003598       28.6
241 -119.702667        NaN
242  -81.872308        NaN
243  -81.772437        NaN
244 -155.081635       24.3
245 -157.846644       45.1
246 -156.472712        NaN
247 -159.371111       67.4

[248 rows x 8 columns]>

In [110]:
df.columns

Index(['rank', 'location', 'snowfall', 'state', 'city', 'lat', 'long',
       'elevation'],
      dtype='object')

In [132]:
mask = [True if s in ['CO', 'UT', 'VT'] else False for s in df['state'].values]

In [133]:
df1 = df[mask]

In [134]:
df1.shape

(8, 8)

In [135]:
pivot = df1.groupby(['state'])['snowfall'].describe()

In [136]:
pivot.info

<bound method DataFrame.info of        count   mean        std   min     25%    50%     75%   max
state
CO       5.0  37.76  13.672710  23.4  32.500  32.50  40.800  59.6
UT       2.0  51.65   9.263099  45.1  48.375  51.65  54.925  58.2
VT       1.0  80.90        NaN  80.9  80.900  80.90  80.900  80.9>

In [137]:
df1_pivot = pd.DataFrame({'count': pivot['count'], 'avg_snowfall': pivot['mean'], 'max_snowfall': pivot['max']})

In [138]:
print(df1_pivot)

       count  avg_snowfall  max_snowfall
state
CO       5.0         37.76          59.6
UT       2.0         51.65          58.2
VT       1.0         80.90          80.9